@font-face {
    font-family: 'nsicon';
    font-display: fallback;
    src: url('./rsuite-icon-font.eot'); /* IE9*/
    src: url('./rsuite-icon-font.eot?#iefix') format('eot'),
            url('./rsuite-icon-font.ttf') format('truetype'),
            url('./rsuite-icon-font.woff') format('woff'),
            url('./rsuite-icon-font.svg#ng-suite-icon-font') format('svg');
    font-weight: normal;
    font-style: normal;
}
.nsicon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: nsicon !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    display: inline-block;
    text-transform: none;
    font-size: 14px;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
    
.nsicon-weapp:before { content: "\ea01"}
        
.nsicon-web:before { content: "\ea02"}
        
.nsicon-target:before { content: "\ea03"}
        
.nsicon-bar-chart-ranking:before { content: "\ea04"}
        
.nsicon-multiple-lines-chart:before { content: "\ea05"}
        
.nsicon-alipay:before { content: "\ea06"}
        
.nsicon-tmall:before { content: "\ea07"}
        
.nsicon-arrow-down-line:before { content: "\ea08"}
        
.nsicon-arrow-down:before { content: "\ea09"}
        
.nsicon-arrow-left-line:before { content: "\ea0a"}
        
.nsicon-more:before { content: "\ea0b"}
        
.nsicon-arrow-right-line:before { content: "\ea0c"}
        
.nsicon-id-info:before { content: "\ea0d"}
        
.nsicon-arrow-up-line:before { content: "\ea0e"}
        
.nsicon-setting:before { content: "\ea0f"}
        
.nsicon-attachment:before { content: "\ea10"}
        
.nsicon-check-circle:before { content: "\ea11"}
        
.nsicon-back-arrow:before { content: "\ea12"}
        
.nsicon-character-area:before { content: "\ea13"}
        
.nsicon-collasped-o:before { content: "\ea14"}
        
.nsicon-collasped:before { content: "\ea15"}
        
.nsicon-copy-o:before { content: "\ea16"}
        
.nsicon-expand-o:before { content: "\ea17"}
        
.nsicon-help-o:before { content: "\ea18"}
        
.nsicon-info:before { content: "\ea19"}
        
.nsicon-page-end:before { content: "\ea1a"}
        
.nsicon-page-next:before { content: "\ea1b"}
        
.nsicon-page-previous:before { content: "\ea1c"}
        
.nsicon-page-top:before { content: "\ea1d"}
        
.nsicon-character-authorize:before { content: "\ea1e"}
        
.nsicon-reload:before { content: "\ea1f"}
        
.nsicon-remind:before { content: "\ea20"}
        
.nsicon-sequence-down:before { content: "\ea22"}
        
.nsicon-sequence-up:before { content: "\ea23"}
        
.nsicon-sequence:before { content: "\ea24"}
        
.nsicon-warning:before { content: "\ea25"}
        
.nsicon-creative:before { content: "\ea26"}
        
.nsicon-data-authorize:before { content: "\ea28"}
        
.nsicon-detail:before { content: "\ea29"}
        
.nsicon-explore:before { content: "\ea2b"}
        
.nsicon-export:before { content: "\ea2c"}
        
.nsicon-file-download:before { content: "\ea2d"}
        
.nsicon-file-upload:before { content: "\ea2e"}
        
.nsicon-gear:before { content: "\ea2f"}
        
.nsicon-id-mapping:before { content: "\ea30"}
        
.nsicon-import:before { content: "\ea31"}
        
.nsicon-off:before { content: "\ea34"}
        
.nsicon-peoples-map:before { content: "\ea35"}
        
.nsicon-peoples:before { content: "\ea36"}
        
.nsicon-sales,growth:before { content: "\ea37"}
        
.nsicon-project:before { content: "\ea39"}
        
.nsicon-public-opinion:before { content: "\ea3a"}
        
.nsicon-rate:before { content: "\ea3b"}
        
.nsicon-realtime:before { content: "\ea3c"}
        
.nsicon-related-map:before { content: "\ea3d"}
        
.nsicon-search-peoples:before { content: "\ea3f"}
        
.nsicon-speaker:before { content: "\ea41"}
        
.nsicon-tag-area:before { content: "\ea42"}
        
.nsicon-tag-authorize:before { content: "\ea43"}
        
.nsicon-tag-unauthorize:before { content: "\ea44"}
        
.nsicon-task:before { content: "\ea46"}
        
.nsicon-trend:before { content: "\ea47"}
        
.nsicon-user-info:before { content: "\ea48"}
        
.nsicon-views-authorize:before { content: "\ea49"}
        
.nsicon-views-unauthorize:before { content: "\ea4a"}
        
.nsicon-android2:before { content: "\e900"}
        
.nsicon-arrow-down2:before { content: "\e901"}
        
.nsicon-arrow-up2:before { content: "\e902"}
        
.nsicon-attribution:before { content: "\e903"}
        
.nsicon-avatar:before { content: "\e904"}
        
.nsicon-book2:before { content: "\e905"}
        
.nsicon-btn-off:before { content: "\e906"}
        
.nsicon-btn-on:before { content: "\e907"}
        
.nsicon-building2:before { content: "\e908"}
        
.nsicon-charts-line:before { content: "\e909"}
        
.nsicon-charts:before { content: "\e90a"}
        
.nsicon-check2:before { content: "\e90b"}
        
.nsicon-close-circle:before { content: "\e90c"}
        
.nsicon-coincide:before { content: "\e90e"}
        
.nsicon-data-decrease:before { content: "\e90f"}
        
.nsicon-data-increase:before { content: "\e910"}
        
.nsicon-down:before { content: "\e911"}
        
.nsicon-download2:before { content: "\e912"}
        
.nsicon-edit2:before { content: "\e913"}
        
.nsicon-exclamation-circle2:before { content: "\e914"}
        
.nsicon-exit:before { content: "\e915"}
        
.nsicon-flow:before { content: "\e916"}
        
.nsicon-frame:before { content: "\e917"}
        
.nsicon-gear-circle:before { content: "\e918"}
        
.nsicon-gear2:before { content: "\e919"}
        
.nsicon-gears2:before { content: "\e91a"}
        
.nsicon-globe2:before { content: "\e91b"}
        
.nsicon-good:before { content: "\e91c"}
        
.nsicon-ios:before { content: "\e91e"}
        
.nsicon-left:before { content: "\e91f"}
        
.nsicon-logo-ads:before { content: "\e920"}
        
.nsicon-logo-analytics:before { content: "\e921"}
        
.nsicon-logo-dmp:before { content: "\e922"}
        
.nsicon-logo-mobile:before { content: "\e923"}
        
.nsicon-logo-shop:before { content: "\e924"}
        
.nsicon-logo-survey:before { content: "\e925"}
        
.nsicon-logo-video:before { content: "\e926"}
        
.nsicon-magic2:before { content: "\e927"}
        
.nsicon-ok-circle:before { content: "\e928"}
        
.nsicon-order-form:before { content: "\e929"}
        
.nsicon-pc:before { content: "\e92a"}
        
.nsicon-people-group:before { content: "\e92b"}
        
.nsicon-play2:before { content: "\e92c"}
        
.nsicon-profile:before { content: "\e92d"}
        
.nsicon-question-circle2:before { content: "\e92e"}
        
.nsicon-question2:before { content: "\e92f"}
        
.nsicon-refresh2:before { content: "\e930"}
        
.nsicon-retention:before { content: "\e931"}
        
.nsicon-right:before { content: "\e932"}
        
.nsicon-shapes:before { content: "\e933"}
        
.nsicon-share2:before { content: "\e934"}
        
.nsicon-squares:before { content: "\e935"}
        
.nsicon-stop2:before { content: "\e936"}
        
.nsicon-terminal-line:before { content: "\e937"}
        
.nsicon-th2:before { content: "\e938"}
        
.nsicon-trash2:before { content: "\e939"}
        
.nsicon-tree-close:before { content: "\e93a"}
        
.nsicon-tree-open:before { content: "\e93b"}
        
.nsicon-twinkle-star:before { content: "\e93c"}
        
.nsicon-up:before { content: "\e93d"}
        
.nsicon-upload2:before { content: "\e93e"}
        
.nsicon-user-analysis:before { content: "\e93f"}
        
.nsicon-glass:before { content: "\f000"}
        
.nsicon-music:before { content: "\f001"}
        
.nsicon-search:before { content: "\f002"}
        
.nsicon-envelope-o:before { content: "\f003"}
        
.nsicon-heart:before { content: "\f004"}
        
.nsicon-star:before { content: "\f005"}
        
.nsicon-star-o:before { content: "\f006"}
        
.nsicon-user:before { content: "\f007"}
        
.nsicon-film:before { content: "\f008"}
        
.nsicon-th-large:before { content: "\f009"}
        
.nsicon-th:before { content: "\f00a"}
        
.nsicon-th-list:before { content: "\f00b"}
        
.nsicon-check:before { content: "\f00c"}
        
.nsicon-close:before { content: "\f00d"}
        
.nsicon-search-plus:before { content: "\f00e"}
        
.nsicon-search-minus:before { content: "\f010"}
        
.nsicon-power-off:before { content: "\f011"}
        
.nsicon-signal:before { content: "\f012"}
        
.nsicon-cog:before { content: "\f013"}
        
.nsicon-trash-o:before { content: "\f014"}
        
.nsicon-home:before { content: "\f015"}
        
.nsicon-file-o:before { content: "\f016"}
        
.nsicon-clock-o:before { content: "\f017"}
        
.nsicon-road:before { content: "\f018"}
        
.nsicon-download:before { content: "\f019"}
        
.nsicon-arrow-circle-o-down:before { content: "\f01a"}
        
.nsicon-arrow-circle-o-up:before { content: "\f01b"}
        
.nsicon-inbox:before { content: "\f01c"}
        
.nsicon-play-circle-o:before { content: "\f01d"}
        
.nsicon-repeat:before { content: "\f01e"}
        
.nsicon-refresh:before { content: "\f021"}
        
.nsicon-list-alt:before { content: "\f022"}
        
.nsicon-lock:before { content: "\f023"}
        
.nsicon-flag:before { content: "\f024"}
        
.nsicon-headphones:before { content: "\f025"}
        
.nsicon-volume-off:before { content: "\f026"}
        
.nsicon-volume-down:before { content: "\f027"}
        
.nsicon-volume-up:before { content: "\f028"}
        
.nsicon-qrcode:before { content: "\f029"}
        
.nsicon-barcode:before { content: "\f02a"}
        
.nsicon-tag:before { content: "\f02b"}
        
.nsicon-tags:before { content: "\f02c"}
        
.nsicon-book:before { content: "\f02d"}
        
.nsicon-bookmark:before { content: "\f02e"}
        
.nsicon-print:before { content: "\f02f"}
        
.nsicon-camera:before { content: "\f030"}
        
.nsicon-font:before { content: "\f031"}
        
.nsicon-bold:before { content: "\f032"}
        
.nsicon-italic:before { content: "\f033"}
        
.nsicon-text-height:before { content: "\f034"}
        
.nsicon-text-width:before { content: "\f035"}
        
.nsicon-align-left:before { content: "\f036"}
        
.nsicon-align-center:before { content: "\f037"}
        
.nsicon-align-right:before { content: "\f038"}
        
.nsicon-align-justify:before { content: "\f039"}
        
.nsicon-list:before { content: "\f03a"}
        
.nsicon-dedent:before { content: "\f03b"}
        
.nsicon-indent:before { content: "\f03c"}
        
.nsicon-video-camera:before { content: "\f03d"}
        
.nsicon-image:before { content: "\f03e"}
        
.nsicon-pencil:before { content: "\f040"}
        
.nsicon-map-marker:before { content: "\f041"}
        
.nsicon-adjust:before { content: "\f042"}
        
.nsicon-tint:before { content: "\f043"}
        
.nsicon-edit:before { content: "\f044"}
        
.nsicon-share-square-o:before { content: "\f045"}
        
.nsicon-check-square-o:before { content: "\f046"}
        
.nsicon-arrows:before { content: "\f047"}
        
.nsicon-step-backward:before { content: "\f048"}
        
.nsicon-fast-backward:before { content: "\f049"}
        
.nsicon-backward:before { content: "\f04a"}
        
.nsicon-play:before { content: "\f04b"}
        
.nsicon-pause:before { content: "\f04c"}
        
.nsicon-stop:before { content: "\f04d"}
        
.nsicon-forward:before { content: "\f04e"}
        
.nsicon-fast-forward:before { content: "\f050"}
        
.nsicon-step-forward:before { content: "\f051"}
        
.nsicon-eject:before { content: "\f052"}
        
.nsicon-chevron-left:before { content: "\f053"}
        
.nsicon-chevron-right:before { content: "\f054"}
        
.nsicon-plus-circle:before { content: "\f055"}
        
.nsicon-minus-circle:before { content: "\f056"}
        
.nsicon-times-circle:before { content: "\f057"}
        
.nsicon-question-circle:before { content: "\f059"}
        
.nsicon-info-circle:before { content: "\f05a"}
        
.nsicon-crosshairs:before { content: "\f05b"}
        
.nsicon-times-circle-o:before { content: "\f05c"}
        
.nsicon-check-circle-o:before { content: "\f05d"}
        
.nsicon-ban:before { content: "\f05e"}
        
.nsicon-arrow-left:before { content: "\f060"}
        
.nsicon-arrow-right:before { content: "\f061"}
        
.nsicon-arrow-up:before { content: "\f062"}
        
.nsicon-share:before { content: "\f064"}
        
.nsicon-expand:before { content: "\f065"}
        
.nsicon-compress:before { content: "\f066"}
        
.nsicon-plus:before { content: "\f067"}
        
.nsicon-minus:before { content: "\f068"}
        
.nsicon-asterisk:before { content: "\f069"}
        
.nsicon-exclamation-circle:before { content: "\f06a"}
        
.nsicon-gift:before { content: "\f06b"}
        
.nsicon-leaf:before { content: "\f06c"}
        
.nsicon-fire:before { content: "\f06d"}
        
.nsicon-eye:before { content: "\f06e"}
        
.nsicon-eye-slash:before { content: "\f070"}
        
.nsicon-exclamation-triangle:before { content: "\f071"}
        
.nsicon-plane:before { content: "\f072"}
        
.nsicon-calendar:before { content: "\f073"}
        
.nsicon-random:before { content: "\f074"}
        
.nsicon-comment:before { content: "\f075"}
        
.nsicon-magnet:before { content: "\f076"}
        
.nsicon-chevron-up:before { content: "\f077"}
        
.nsicon-chevron-down:before { content: "\f078"}
        
.nsicon-retweet:before { content: "\f079"}
        
.nsicon-shopping-cart:before { content: "\f07a"}
        
.nsicon-folder:before { content: "\f07b"}
        
.nsicon-folder-open:before { content: "\f07c"}
        
.nsicon-arrows-v:before { content: "\f07d"}
        
.nsicon-arrows-h:before { content: "\f07e"}
        
.nsicon-bar-chart:before { content: "\f080"}
        
.nsicon-twitter-square:before { content: "\f081"}
        
.nsicon-facebook-square:before { content: "\f082"}
        
.nsicon-camera-retro:before { content: "\f083"}
        
.nsicon-key:before { content: "\f084"}
        
.nsicon-cogs:before { content: "\f085"}
        
.nsicon-comments:before { content: "\f086"}
        
.nsicon-thumbs-o-up:before { content: "\f087"}
        
.nsicon-thumbs-o-down:before { content: "\f088"}
        
.nsicon-star-half:before { content: "\f089"}
        
.nsicon-heart-o:before { content: "\f08a"}
        
.nsicon-sign-out:before { content: "\f08b"}
        
.nsicon-linkedin-square:before { content: "\f08c"}
        
.nsicon-thumb-tack:before { content: "\f08d"}
        
.nsicon-external-link:before { content: "\f08e"}
        
.nsicon-sign-in:before { content: "\f090"}
        
.nsicon-trophy:before { content: "\f091"}
        
.nsicon-github-square:before { content: "\f092"}
        
.nsicon-upload:before { content: "\f093"}
        
.nsicon-lemon-o:before { content: "\f094"}
        
.nsicon-phone:before { content: "\f095"}
        
.nsicon-square-o:before { content: "\f096"}
        
.nsicon-bookmark-o:before { content: "\f097"}
        
.nsicon-phone-square:before { content: "\f098"}
        
.nsicon-twitter:before { content: "\f099"}
        
.nsicon-facebook:before { content: "\f09a"}
        
.nsicon-github:before { content: "\f09b"}
        
.nsicon-unlock:before { content: "\f09c"}
        
.nsicon-credit-card:before { content: "\f09d"}
        
.nsicon-rss:before { content: "\f09e"}
        
.nsicon-hdd-o:before { content: "\f0a0"}
        
.nsicon-bullhorn:before { content: "\f0a1"}
        
.nsicon-bell-o:before { content: "\f0a2"}
        
.nsicon-certificate:before { content: "\f0a3"}
        
.nsicon-hand-o-right:before { content: "\f0a4"}
        
.nsicon-hand-o-left:before { content: "\f0a5"}
        
.nsicon-hand-o-up:before { content: "\f0a6"}
        
.nsicon-hand-o-down:before { content: "\f0a7"}
        
.nsicon-arrow-circle-left:before { content: "\f0a8"}
        
.nsicon-arrow-circle-right:before { content: "\f0a9"}
        
.nsicon-arrow-circle-up:before { content: "\f0aa"}
        
.nsicon-arrow-circle-down:before { content: "\f0ab"}
        
.nsicon-globe:before { content: "\f0ac"}
        
.nsicon-wrench:before { content: "\f0ad"}
        
.nsicon-tasks:before { content: "\f0ae"}
        
.nsicon-filter:before { content: "\f0b0"}
        
.nsicon-briefcase:before { content: "\f0b1"}
        
.nsicon-arrows-alt:before { content: "\f0b2"}
        
.nsicon-group:before { content: "\f0c0"}
        
.nsicon-link:before { content: "\f0c1"}
        
.nsicon-cloud:before { content: "\f0c2"}
        
.nsicon-flask:before { content: "\f0c3"}
        
.nsicon-cut:before { content: "\f0c4"}
        
.nsicon-copy:before { content: "\f0c5"}
        
.nsicon-paperclip:before { content: "\f0c6"}
        
.nsicon-save:before { content: "\f0c7"}
        
.nsicon-square:before { content: "\f0c8"}
        
.nsicon-bars:before { content: "\f0c9"}
        
.nsicon-list-ul:before { content: "\f0ca"}
        
.nsicon-list-ol:before { content: "\f0cb"}
        
.nsicon-strikethrough:before { content: "\f0cc"}
        
.nsicon-underline:before { content: "\f0cd"}
        
.nsicon-table:before { content: "\f0ce"}
        
.nsicon-magic:before { content: "\f0d0"}
        
.nsicon-truck:before { content: "\f0d1"}
        
.nsicon-pinterest:before { content: "\f0d2"}
        
.nsicon-pinterest-square:before { content: "\f0d3"}
        
.nsicon-google-plus-square:before { content: "\f0d4"}
        
.nsicon-google-plus:before { content: "\f0d5"}
        
.nsicon-money:before { content: "\f0d6"}
        
.nsicon-caret-down:before { content: "\f0d7"}
        
.nsicon-caret-up:before { content: "\f0d8"}
        
.nsicon-caret-left:before { content: "\f0d9"}
        
.nsicon-caret-right:before { content: "\f0da"}
        
.nsicon-columns:before { content: "\f0db"}
        
.nsicon-sort:before { content: "\f0dc"}
        
.nsicon-sort-desc:before { content: "\f0dd"}
        
.nsicon-sort-up:before { content: "\f0de"}
        
.nsicon-envelope:before { content: "\f0e0"}
        
.nsicon-linkedin:before { content: "\f0e1"}
        
.nsicon-undo:before { content: "\f0e2"}
        
.nsicon-gavel:before { content: "\f0e3"}
        
.nsicon-dashboard:before { content: "\f0e4"}
        
.nsicon-comment-o:before { content: "\f0e5"}
        
.nsicon-comments-o:before { content: "\f0e6"}
        
.nsicon-bolt:before { content: "\f0e7"}
        
.nsicon-sitemap:before { content: "\f0e8"}
        
.nsicon-umbrella:before { content: "\f0e9"}
        
.nsicon-paste:before { content: "\f0ea"}
        
.nsicon-lightbulb-o:before { content: "\f0eb"}
        
.nsicon-exchange:before { content: "\f0ec"}
        
.nsicon-cloud-download:before { content: "\f0ed"}
        
.nsicon-cloud-upload:before { content: "\f0ee"}
        
.nsicon-user-md:before { content: "\f0f0"}
        
.nsicon-stethoscope:before { content: "\f0f1"}
        
.nsicon-suitcase:before { content: "\f0f2"}
        
.nsicon-bell:before { content: "\f0f3"}
        
.nsicon-coffee:before { content: "\f0f4"}
        
.nsicon-cutlery:before { content: "\f0f5"}
        
.nsicon-file-text-o:before { content: "\f0f6"}
        
.nsicon-building-o:before { content: "\f0f7"}
        
.nsicon-hospital-o:before { content: "\f0f8"}
        
.nsicon-ambulance:before { content: "\f0f9"}
        
.nsicon-medkit:before { content: "\f0fa"}
        
.nsicon-fighter-jet:before { content: "\f0fb"}
        
.nsicon-beer:before { content: "\f0fc"}
        
.nsicon-h-square:before { content: "\f0fd"}
        
.nsicon-plus-square:before { content: "\f0fe"}
        
.nsicon-angle-double-left:before { content: "\f100"}
        
.nsicon-angle-double-right:before { content: "\f101"}
        
.nsicon-angle-double-up:before { content: "\f102"}
        
.nsicon-angle-double-down:before { content: "\f103"}
        
.nsicon-angle-left:before { content: "\f104"}
        
.nsicon-angle-right:before { content: "\f105"}
        
.nsicon-angle-up:before { content: "\f106"}
        
.nsicon-angle-down:before { content: "\f107"}
        
.nsicon-desktop:before { content: "\f108"}
        
.nsicon-laptop:before { content: "\f109"}
        
.nsicon-tablet:before { content: "\f10a"}
        
.nsicon-mobile:before { content: "\f10b"}
        
.nsicon-circle-o:before { content: "\f10c"}
        
.nsicon-quote-left:before { content: "\f10d"}
        
.nsicon-quote-right:before { content: "\f10e"}
        
.nsicon-spinner:before { content: "\f110"}
        
.nsicon-circle:before { content: "\f111"}
        
.nsicon-reply:before { content: "\f112"}
        
.nsicon-github-alt:before { content: "\f113"}
        
.nsicon-folder-o:before { content: "\f114"}
        
.nsicon-folder-open-o:before { content: "\f115"}
        
.nsicon-smile-o:before { content: "\f118"}
        
.nsicon-frown-o:before { content: "\f119"}
        
.nsicon-meh-o:before { content: "\f11a"}
        
.nsicon-gamepad:before { content: "\f11b"}
        
.nsicon-keyboard-o:before { content: "\f11c"}
        
.nsicon-flag-o:before { content: "\f11d"}
        
.nsicon-flag-checkered:before { content: "\f11e"}
        
.nsicon-terminal:before { content: "\f120"}
        
.nsicon-code:before { content: "\f121"}
        
.nsicon-reply-all:before { content: "\f122"}
        
.nsicon-star-half-o:before { content: "\f123"}
        
.nsicon-location-arrow:before { content: "\f124"}
        
.nsicon-crop:before { content: "\f125"}
        
.nsicon-code-fork:before { content: "\f126"}
        
.nsicon-unlink:before { content: "\f127"}
        
.nsicon-question:before { content: "\f128"}
        
.nsicon-exclamation:before { content: "\f12a"}
        
.nsicon-superscript:before { content: "\f12b"}
        
.nsicon-subscript:before { content: "\f12c"}
        
.nsicon-eraser:before { content: "\f12d"}
        
.nsicon-puzzle-piece:before { content: "\f12e"}
        
.nsicon-microphone:before { content: "\f130"}
        
.nsicon-microphone-slash:before { content: "\f131"}
        
.nsicon-shield:before { content: "\f132"}
        
.nsicon-calendar-o:before { content: "\f133"}
        
.nsicon-fire-extinguisher:before { content: "\f134"}
        
.nsicon-rocket:before { content: "\f135"}
        
.nsicon-maxcdn:before { content: "\f136"}
        
.nsicon-chevron-circle-left:before { content: "\f137"}
        
.nsicon-chevron-circle-right:before { content: "\f138"}
        
.nsicon-chevron-circle-up:before { content: "\f139"}
        
.nsicon-chevron-circle-down:before { content: "\f13a"}
        
.nsicon-html5:before { content: "\f13b"}
        
.nsicon-css3:before { content: "\f13c"}
        
.nsicon-anchor:before { content: "\f13d"}
        
.nsicon-unlock-alt:before { content: "\f13e"}
        
.nsicon-bullseye:before { content: "\f140"}
        
.nsicon-ellipsis-h:before { content: "\f141"}
        
.nsicon-ellipsis-v:before { content: "\f142"}
        
.nsicon-rss-square:before { content: "\f143"}
        
.nsicon-play-circle:before { content: "\f144"}
        
.nsicon-ticket:before { content: "\f145"}
        
.nsicon-minus-square:before { content: "\f146"}
        
.nsicon-minus-square-o:before { content: "\f147"}
        
.nsicon-level-up:before { content: "\f148"}
        
.nsicon-level-down:before { content: "\f149"}
        
.nsicon-check-square:before { content: "\f14a"}
        
.nsicon-pencil-square:before { content: "\f14b"}
        
.nsicon-external-link-square:before { content: "\f14c"}
        
.nsicon-share-square:before { content: "\f14d"}
        
.nsicon-compass:before { content: "\f14e"}
        
.nsicon-toggle-down:before { content: "\f150"}
        
.nsicon-toggle-up:before { content: "\f151"}
        
.nsicon-toggle-right:before { content: "\f152"}
        
.nsicon-eur:before { content: "\f153"}
        
.nsicon-gbp:before { content: "\f154"}
        
.nsicon-usd:before { content: "\f155"}
        
.nsicon-inr:before { content: "\f156"}
        
.nsicon-cny:before { content: "\f157"}
        
.nsicon-rub:before { content: "\f158"}
        
.nsicon-krw:before { content: "\f159"}
        
.nsicon-btc:before { content: "\f15a"}
        
.nsicon-file:before { content: "\f15b"}
        
.nsicon-file-text:before { content: "\f15c"}
        
.nsicon-sort-alpha-asc:before { content: "\f15d"}
        
.nsicon-sort-alpha-desc:before { content: "\f15e"}
        
.nsicon-sort-amount-asc:before { content: "\f160"}
        
.nsicon-sort-amount-desc:before { content: "\f161"}
        
.nsicon-sort-numeric-asc:before { content: "\f162"}
        
.nsicon-sort-numeric-desc:before { content: "\f163"}
        
.nsicon-thumbs-up:before { content: "\f164"}
        
.nsicon-thumbs-down:before { content: "\f165"}
        
.nsicon-youtube-square:before { content: "\f166"}
        
.nsicon-youtube:before { content: "\f167"}
        
.nsicon-xing:before { content: "\f168"}
        
.nsicon-xing-square:before { content: "\f169"}
        
.nsicon-youtube-play:before { content: "\f16a"}
        
.nsicon-dropbox:before { content: "\f16b"}
        
.nsicon-stack-overflow:before { content: "\f16c"}
        
.nsicon-instagram:before { content: "\f16d"}
        
.nsicon-flickr:before { content: "\f16e"}
        
.nsicon-adn:before { content: "\f170"}
        
.nsicon-bitbucket:before { content: "\f171"}
        
.nsicon-bitbucket-square:before { content: "\f172"}
        
.nsicon-tumblr:before { content: "\f173"}
        
.nsicon-tumblr-square:before { content: "\f174"}
        
.nsicon-long-arrow-down:before { content: "\f175"}
        
.nsicon-long-arrow-up:before { content: "\f176"}
        
.nsicon-long-arrow-left:before { content: "\f177"}
        
.nsicon-long-arrow-right:before { content: "\f178"}
        
.nsicon-apple:before { content: "\f179"}
        
.nsicon-windows:before { content: "\f17a"}
        
.nsicon-android:before { content: "\f17b"}
        
.nsicon-linux:before { content: "\f17c"}
        
.nsicon-dribbble:before { content: "\f17d"}
        
.nsicon-skype:before { content: "\f17e"}
        
.nsicon-foursquare:before { content: "\f180"}
        
.nsicon-trello:before { content: "\f181"}
        
.nsicon-female:before { content: "\f182"}
        
.nsicon-male:before { content: "\f183"}
        
.nsicon-gittip:before { content: "\f184"}
        
.nsicon-sun-o:before { content: "\f185"}
        
.nsicon-moon-o:before { content: "\f186"}
        
.nsicon-archive:before { content: "\f187"}
        
.nsicon-bug:before { content: "\f188"}
        
.nsicon-vk:before { content: "\f189"}
        
.nsicon-weibo:before { content: "\f18a"}
        
.nsicon-renren:before { content: "\f18b"}
        
.nsicon-pagelines:before { content: "\f18c"}
        
.nsicon-stack-exchange:before { content: "\f18d"}
        
.nsicon-arrow-circle-o-right:before { content: "\f18e"}
        
.nsicon-arrow-circle-o-left:before { content: "\f190"}
        
.nsicon-toggle-left:before { content: "\f191"}
        
.nsicon-dot-circle-o:before { content: "\f192"}
        
.nsicon-wheelchair:before { content: "\f193"}
        
.nsicon-vimeo-square:before { content: "\f194"}
        
.nsicon-try:before { content: "\f195"}
        
.nsicon-plus-square-o:before { content: "\f196"}
        
.nsicon-space-shuttle:before { content: "\f197"}
        
.nsicon-slack:before { content: "\f198"}
        
.nsicon-envelope-square:before { content: "\f199"}
        
.nsicon-wordpress:before { content: "\f19a"}
        
.nsicon-openid:before { content: "\f19b"}
        
.nsicon-bank:before { content: "\f19c"}
        
.nsicon-mortar-board:before { content: "\f19d"}
        
.nsicon-yahoo:before { content: "\f19e"}
        
.nsicon-google:before { content: "\f1a0"}
        
.nsicon-reddit:before { content: "\f1a1"}
        
.nsicon-reddit-square:before { content: "\f1a2"}
        
.nsicon-stumbleupon-circle:before { content: "\f1a3"}
        
.nsicon-stumbleupon:before { content: "\f1a4"}
        
.nsicon-delicious:before { content: "\f1a5"}
        
.nsicon-digg:before { content: "\f1a6"}
        
.nsicon-pied-piper-pp:before { content: "\f1a7"}
        
.nsicon-pied-piper-alt:before { content: "\f1a8"}
        
.nsicon-drupal:before { content: "\f1a9"}
        
.nsicon-joomla:before { content: "\f1aa"}
        
.nsicon-language:before { content: "\f1ab"}
        
.nsicon-fax:before { content: "\f1ac"}
        
.nsicon-building:before { content: "\f1ad"}
        
.nsicon-child:before { content: "\f1ae"}
        
.nsicon-paw:before { content: "\f1b0"}
        
.nsicon-spoon:before { content: "\f1b1"}
        
.nsicon-cube:before { content: "\f1b2"}
        
.nsicon-cubes:before { content: "\f1b3"}
        
.nsicon-behance:before { content: "\f1b4"}
        
.nsicon-behance-square:before { content: "\f1b5"}
        
.nsicon-steam:before { content: "\f1b6"}
        
.nsicon-steam-square:before { content: "\f1b7"}
        
.nsicon-recycle:before { content: "\f1b8"}
        
.nsicon-car:before { content: "\f1b9"}
        
.nsicon-cab:before { content: "\f1ba"}
        
.nsicon-tree:before { content: "\f1bb"}
        
.nsicon-spotify:before { content: "\f1bc"}
        
.nsicon-deviantart:before { content: "\f1bd"}
        
.nsicon-soundcloud:before { content: "\f1be"}
        
.nsicon-database:before { content: "\f1c0"}
        
.nsicon-file-pdf-o:before { content: "\f1c1"}
        
.nsicon-file-word-o:before { content: "\f1c2"}
        
.nsicon-file-excel-o:before { content: "\f1c3"}
        
.nsicon-file-powerpoint-o:before { content: "\f1c4"}
        
.nsicon-file-image-o:before { content: "\f1c5"}
        
.nsicon-file-zip-o:before { content: "\f1c6"}
        
.nsicon-file-audio-o:before { content: "\f1c7"}
        
.nsicon-file-movie-o:before { content: "\f1c8"}
        
.nsicon-file-code-o:before { content: "\f1c9"}
        
.nsicon-vine:before { content: "\f1ca"}
        
.nsicon-codepen:before { content: "\f1cb"}
        
.nsicon-jsfiddle:before { content: "\f1cc"}
        
.nsicon-support:before { content: "\f1cd"}
        
.nsicon-circle-o-notch:before { content: "\f1ce"}
        
.nsicon-ra:before { content: "\f1d0"}
        
.nsicon-ge:before { content: "\f1d1"}
        
.nsicon-git-square:before { content: "\f1d2"}
        
.nsicon-git:before { content: "\f1d3"}
        
.nsicon-yc-square:before { content: "\f1d4"}
        
.nsicon-tencent-weibo:before { content: "\f1d5"}
        
.nsicon-qq:before { content: "\f1d6"}
        
.nsicon-wechat:before { content: "\f1d7"}
        
.nsicon-send:before { content: "\f1d8"}
        
.nsicon-send-o:before { content: "\f1d9"}
        
.nsicon-history:before { content: "\f1da"}
        
.nsicon-circle-thin:before { content: "\f1db"}
        
.nsicon-header:before { content: "\f1dc"}
        
.nsicon-paragraph:before { content: "\f1dd"}
        
.nsicon-sliders:before { content: "\f1de"}
        
.nsicon-share-alt:before { content: "\f1e0"}
        
.nsicon-share-alt-square:before { content: "\f1e1"}
        
.nsicon-bomb:before { content: "\f1e2"}
        
.nsicon-futbol-o:before { content: "\f1e3"}
        
.nsicon-tty:before { content: "\f1e4"}
        
.nsicon-binoculars:before { content: "\f1e5"}
        
.nsicon-plug:before { content: "\f1e6"}
        
.nsicon-slideshare:before { content: "\f1e7"}
        
.nsicon-twitch:before { content: "\f1e8"}
        
.nsicon-yelp:before { content: "\f1e9"}
        
.nsicon-newspaper-o:before { content: "\f1ea"}
        
.nsicon-wifi:before { content: "\f1eb"}
        
.nsicon-calculator:before { content: "\f1ec"}
        
.nsicon-paypal:before { content: "\f1ed"}
        
.nsicon-google-wallet:before { content: "\f1ee"}
        
.nsicon-cc-visa:before { content: "\f1f0"}
        
.nsicon-cc-mastercard:before { content: "\f1f1"}
        
.nsicon-cc-discover:before { content: "\f1f2"}
        
.nsicon-cc-amex:before { content: "\f1f3"}
        
.nsicon-cc-paypal:before { content: "\f1f4"}
        
.nsicon-cc-stripe:before { content: "\f1f5"}
        
.nsicon-bell-slash:before { content: "\f1f6"}
        
.nsicon-bell-slash-o:before { content: "\f1f7"}
        
.nsicon-trash:before { content: "\f1f8"}
        
.nsicon-copyright:before { content: "\f1f9"}
        
.nsicon-at:before { content: "\f1fa"}
        
.nsicon-eyedropper:before { content: "\f1fb"}
        
.nsicon-paint-brush:before { content: "\f1fc"}
        
.nsicon-birthday-cake:before { content: "\f1fd"}
        
.nsicon-area-chart:before { content: "\f1fe"}
        
.nsicon-pie-chart:before { content: "\f200"}
        
.nsicon-line-chart:before { content: "\f201"}
        
.nsicon-lastfm:before { content: "\f202"}
        
.nsicon-lastfm-square:before { content: "\f203"}
        
.nsicon-toggle-off:before { content: "\f204"}
        
.nsicon-toggle-on:before { content: "\f205"}
        
.nsicon-bicycle:before { content: "\f206"}
        
.nsicon-bus:before { content: "\f207"}
        
.nsicon-ioxhost:before { content: "\f208"}
        
.nsicon-angellist:before { content: "\f209"}
        
.nsicon-cc:before { content: "\f20a"}
        
.nsicon-ils:before { content: "\f20b"}
        
.nsicon-meanpath:before { content: "\f20c"}
        
.nsicon-buysellads:before { content: "\f20d"}
        
.nsicon-connectdevelop:before { content: "\f20e"}
        
.nsicon-dashcube:before { content: "\f210"}
        
.nsicon-forumbee:before { content: "\f211"}
        
.nsicon-leanpub:before { content: "\f212"}
        
.nsicon-sellsy:before { content: "\f213"}
        
.nsicon-shirtsinbulk:before { content: "\f214"}
        
.nsicon-simplybuilt:before { content: "\f215"}
        
.nsicon-skyatlas:before { content: "\f216"}
        
.nsicon-cart-plus:before { content: "\f217"}
        
.nsicon-cart-arrow-down:before { content: "\f218"}
        
.nsicon-diamond:before { content: "\f219"}
        
.nsicon-ship:before { content: "\f21a"}
        
.nsicon-user-secret:before { content: "\f21b"}
        
.nsicon-motorcycle:before { content: "\f21c"}
        
.nsicon-street-view:before { content: "\f21d"}
        
.nsicon-heartbeat:before { content: "\f21e"}
        
.nsicon-venus:before { content: "\f221"}
        
.nsicon-mars:before { content: "\f222"}
        
.nsicon-mercury:before { content: "\f223"}
        
.nsicon-intersex:before { content: "\f224"}
        
.nsicon-transgender-alt:before { content: "\f225"}
        
.nsicon-venus-double:before { content: "\f226"}
        
.nsicon-mars-double:before { content: "\f227"}
        
.nsicon-venus-mars:before { content: "\f228"}
        
.nsicon-mars-stroke:before { content: "\f229"}
        
.nsicon-mars-stroke-v:before { content: "\f22a"}
        
.nsicon-mars-stroke-h:before { content: "\f22b"}
        
.nsicon-neuter:before { content: "\f22c"}
        
.nsicon-genderless:before { content: "\f22d"}
        
.nsicon-facebook-official:before { content: "\f230"}
        
.nsicon-pinterest-p:before { content: "\f231"}
        
.nsicon-whatsapp:before { content: "\f232"}
        
.nsicon-server:before { content: "\f233"}
        
.nsicon-user-plus:before { content: "\f234"}
        
.nsicon-user-times:before { content: "\f235"}
        
.nsicon-bed:before { content: "\f236"}
        
.nsicon-viacoin:before { content: "\f237"}
        
.nsicon-train:before { content: "\f238"}
        
.nsicon-subway:before { content: "\f239"}
        
.nsicon-medium:before { content: "\f23a"}
        
.nsicon-yc:before { content: "\f23b"}
        
.nsicon-optin-monster:before { content: "\f23c"}
        
.nsicon-opencart:before { content: "\f23d"}
        
.nsicon-expeditedssl:before { content: "\f23e"}
        
.nsicon-battery:before { content: "\f240"}
        
.nsicon-battery-3:before { content: "\f241"}
        
.nsicon-battery-2:before { content: "\f242"}
        
.nsicon-battery-1:before { content: "\f243"}
        
.nsicon-battery-0:before { content: "\f244"}
        
.nsicon-mouse-pointer:before { content: "\f245"}
        
.nsicon-i-cursor:before { content: "\f246"}
        
.nsicon-object-group:before { content: "\f247"}
        
.nsicon-object-ungroup:before { content: "\f248"}
        
.nsicon-sticky-note:before { content: "\f249"}
        
.nsicon-sticky-note-o:before { content: "\f24a"}
        
.nsicon-cc-jcb:before { content: "\f24b"}
        
.nsicon-cc-diners-club:before { content: "\f24c"}
        
.nsicon-clone:before { content: "\f24d"}
        
.nsicon-balance-scale:before { content: "\f24e"}
        
.nsicon-hourglass-o:before { content: "\f250"}
        
.nsicon-hourglass-1:before { content: "\f251"}
        
.nsicon-hourglass-2:before { content: "\f252"}
        
.nsicon-hourglass-3:before { content: "\f253"}
        
.nsicon-hourglass:before { content: "\f254"}
        
.nsicon-hand-grab-o:before { content: "\f255"}
        
.nsicon-hand-stop-o:before { content: "\f256"}
        
.nsicon-hand-scissors-o:before { content: "\f257"}
        
.nsicon-hand-lizard-o:before { content: "\f258"}
        
.nsicon-hand-spock-o:before { content: "\f259"}
        
.nsicon-hand-pointer-o:before { content: "\f25a"}
        
.nsicon-hand-peace-o:before { content: "\f25b"}
        
.nsicon-trademark:before { content: "\f25c"}
        
.nsicon-registered:before { content: "\f25d"}
        
.nsicon-creative-commons:before { content: "\f25e"}
        
.nsicon-gg:before { content: "\f260"}
        
.nsicon-gg-circle:before { content: "\f261"}
        
.nsicon-tripadvisor:before { content: "\f262"}
        
.nsicon-odnoklassniki:before { content: "\f263"}
        
.nsicon-odnoklassniki-square:before { content: "\f264"}
        
.nsicon-get-pocket:before { content: "\f265"}
        
.nsicon-wikipedia-w:before { content: "\f266"}
        
.nsicon-safari:before { content: "\f267"}
        
.nsicon-chrome:before { content: "\f268"}
        
.nsicon-firefox:before { content: "\f269"}
        
.nsicon-opera:before { content: "\f26a"}
        
.nsicon-internet-explorer:before { content: "\f26b"}
        
.nsicon-tv:before { content: "\f26c"}
        
.nsicon-contao:before { content: "\f26d"}
        
.nsicon-500px:before { content: "\f26e"}
        
.nsicon-amazon:before { content: "\f270"}
        
.nsicon-calendar-plus-o:before { content: "\f271"}
        
.nsicon-calendar-minus-o:before { content: "\f272"}
        
.nsicon-calendar-times-o:before { content: "\f273"}
        
.nsicon-calendar-check-o:before { content: "\f274"}
        
.nsicon-industry:before { content: "\f275"}
        
.nsicon-map-pin:before { content: "\f276"}
        
.nsicon-map-signs:before { content: "\f277"}
        
.nsicon-map-o:before { content: "\f278"}
        
.nsicon-map:before { content: "\f279"}
        
.nsicon-commenting:before { content: "\f27a"}
        
.nsicon-commenting-o:before { content: "\f27b"}
        
.nsicon-houzz:before { content: "\f27c"}
        
.nsicon-vimeo:before { content: "\f27d"}
        
.nsicon-black-tie:before { content: "\f27e"}
        
.nsicon-fonticons:before { content: "\f280"}
        
.nsicon-reddit-alien:before { content: "\f281"}
        
.nsicon-edge:before { content: "\f282"}
        
.nsicon-credit-card-alt:before { content: "\f283"}
        
.nsicon-codiepie:before { content: "\f284"}
        
.nsicon-modx:before { content: "\f285"}
        
.nsicon-fort-awesome:before { content: "\f286"}
        
.nsicon-usb:before { content: "\f287"}
        
.nsicon-product-hunt:before { content: "\f288"}
        
.nsicon-mixcloud:before { content: "\f289"}
        
.nsicon-scribd:before { content: "\f28a"}
        
.nsicon-pause-circle:before { content: "\f28b"}
        
.nsicon-pause-circle-o:before { content: "\f28c"}
        
.nsicon-stop-circle:before { content: "\f28d"}
        
.nsicon-stop-circle-o:before { content: "\f28e"}
        
.nsicon-shopping-bag:before { content: "\f290"}
        
.nsicon-shopping-basket:before { content: "\f291"}
        
.nsicon-hashtag:before { content: "\f292"}
        
.nsicon-bluetooth:before { content: "\f293"}
        
.nsicon-bluetooth-b:before { content: "\f294"}
        
.nsicon-percent:before { content: "\f295"}
        
.nsicon-gitlab:before { content: "\f296"}
        
.nsicon-wpbeginner:before { content: "\f297"}
        
.nsicon-wpforms:before { content: "\f298"}
        
.nsicon-envira:before { content: "\f299"}
        
.nsicon-universal-access:before { content: "\f29a"}
        
.nsicon-wheelchair-alt:before { content: "\f29b"}
        
.nsicon-blind:before { content: "\f29d"}
        
.nsicon-audio-description:before { content: "\f29e"}
        
.nsicon-volume-control-phone:before { content: "\f2a0"}
        
.nsicon-braille:before { content: "\f2a1"}
        
.nsicon-assistive-listening-systems:before { content: "\f2a2"}
        
.nsicon-asl-interpreting:before { content: "\f2a3"}
        
.nsicon-deaf:before { content: "\f2a4"}
        
.nsicon-glide:before { content: "\f2a5"}
        
.nsicon-glide-g:before { content: "\f2a6"}
        
.nsicon-signing:before { content: "\f2a7"}
        
.nsicon-low-vision:before { content: "\f2a8"}
        
.nsicon-viadeo:before { content: "\f2a9"}
        
.nsicon-viadeo-square:before { content: "\f2aa"}
        
.nsicon-snapchat:before { content: "\f2ab"}
        
.nsicon-snapchat-ghost:before { content: "\f2ac"}
        
.nsicon-snapchat-square:before { content: "\f2ad"}
        
.nsicon-pied-piper:before { content: "\f2ae"}
        
.nsicon-first-order:before { content: "\f2b0"}
        
.nsicon-yoast:before { content: "\f2b1"}
        
.nsicon-themeisle:before { content: "\f2b2"}
        
.nsicon-google-plus-circle:before { content: "\f2b3"}
        
.nsicon-fa:before { content: "\f2b4"}
        
.nsicon-handshake-o:before { content: "\f2b5"}
        
.nsicon-envelope-open:before { content: "\f2b6"}
        
.nsicon-envelope-open-o:before { content: "\f2b7"}
        
.nsicon-linode:before { content: "\f2b8"}
        
.nsicon-address-book:before { content: "\f2b9"}
        
.nsicon-address-book-o:before { content: "\f2ba"}
        
.nsicon-vcard:before { content: "\f2bb"}
        
.nsicon-vcard-o:before { content: "\f2bc"}
        
.nsicon-user-circle:before { content: "\f2bd"}
        
.nsicon-user-circle-o:before { content: "\f2be"}
        
.nsicon-user-o:before { content: "\f2c0"}
        
.nsicon-id-badge:before { content: "\f2c1"}
        
.nsicon-id-card:before { content: "\f2c2"}
        
.nsicon-id-card-o:before { content: "\f2c3"}
        
.nsicon-quora:before { content: "\f2c4"}
        
.nsicon-free-code-camp:before { content: "\f2c5"}
        
.nsicon-telegram:before { content: "\f2c6"}
        
.nsicon-thermometer:before { content: "\f2c7"}
        
.nsicon-thermometer-3:before { content: "\f2c8"}
        
.nsicon-thermometer-2:before { content: "\f2c9"}
        
.nsicon-thermometer-1:before { content: "\f2ca"}
        
.nsicon-thermometer-0:before { content: "\f2cb"}
        
.nsicon-shower:before { content: "\f2cc"}
        
.nsicon-s15:before { content: "\f2cd"}
        
.nsicon-podcast:before { content: "\f2ce"}
        
.nsicon-window-maximize:before { content: "\f2d0"}
        
.nsicon-window-minimize:before { content: "\f2d1"}
        
.nsicon-window-restore:before { content: "\f2d2"}
        
.nsicon-window-close:before { content: "\f2d3"}
        
.nsicon-window-close-o:before { content: "\f2d4"}
        
.nsicon-bandcamp:before { content: "\f2d5"}
        
.nsicon-grav:before { content: "\f2d6"}
        
.nsicon-etsy:before { content: "\f2d7"}
        
.nsicon-imdb:before { content: "\f2d8"}
        
.nsicon-ravelry:before { content: "\f2d9"}
        
.nsicon-eercast:before { content: "\f2da"}
        
.nsicon-microchip:before { content: "\f2db"}
        
.nsicon-snowflake-o:before { content: "\f2dc"}
        
.nsicon-superpowers:before { content: "\f2dd"}
        
.nsicon-wpexplorer:before { content: "\f2de"}
        
.nsicon-meetup:before { content: "\f2e0"}
        